body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.score {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#gameArea {
    width: 300px;
    height: 300px;
    background-color: #eee;
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer; /* Indica que a área é clicável */
}

.clickTarget {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
